├── <a href="../assets/">assets/</a>
│   ├── css
│   │   ├──bootstrap.css
│   │   ├──docs.css
│   │   └──theme.css
│   ├── img
│   │   ├──GitHub_Logo.png
│   │   ├──balihoo.png
│   │   ├──acme.png
│   │   ├──favicon.ico
│   │   └──nodejs.png
│   ├── js
│   │   ├──bootstrap.js
│   │   └──jquery.js
│   ├── index.mustache
│   ├── index
│   │   ├──run.mustache
│   │   ├──install.mustache
│   │   └──develop.mustache
│   ├── config.mustache
│   ├── main.mustache
│   ├── navbar.mustache
│   └── <a href="../notfound/">notfound.mustache</a>
