
<div class="bs-docs-section">
  <h1 id="source-control" class="page-header">Source Control</h1>

  <p class="lead">Q. Should my <code>assets/</code> directory be placed under source control?</p>
  <p class="lead">A. It depends...</p>

  <h3 id="pre-processing">Do you pre-process your assets?</h3>
  <p>If you are using tools like Sass, Less to</p>

</div>

