<html>
  <head>
    <title>Balihoo Web Developer Toolkit</title>
    <link href="{{assets.css.styles}}" rel="stylesheet" title="Default Style">
    <script src="{{assets.js.script}}" type="text/javascript"></script>
  <head>
  <body>
    <h1>{{name}}</h1>
    <img src="{{assets.img.logo}}"/>
    {{> partial}}
  </body>
  {{{$tests}}}
</html>

