<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Balihoo-Creative, build customizable HTML templates using your own tools and workflow.">

    <title>Balihoo Web Developer Toolkit</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets.css.bootstrap}}">

    <!-- Documentation extra CSS -->
    <link rel="stylesheet" href="{{assets.css.docs}}">

    <!-- Baliho theme -->
    <link rel="stylesheet" href="{{assets.css.theme}}">

    <!-- Favicon -->
    <link rel="icon" href="{{assets.img.favicon}}">

  <head>

  <body>
    {{{$tests}}}
    <!-- Nav bar -->
    {{> navbar}}

    <!-- Page layout -->
    {{#request.ifpage}}
      {{#index}}{{> index}}{{/index}}
      {{#notfound}}{{> notfound}}{{/notfound}}
    {{/request.ifpage}}

    <!-- Footer -->
    {{> footer}}

    <!-- Javascript -->
    <script src="{{assets.js.jquery}}"></script>
    <script src="{{assets.js.bootstrap}}"></script>
    
  </body>

</html>

