MyProject/
├── .balihoo-creative.json
├── assets/
│   ├── css
│   │   ├──bootstrap.css
│   │   ├──docs.css
│   │   └──theme.css
│   ├── img
│   │   ├──GitHub_Logo.png
│   │   ├──balihoo.png
│   │   ├──favicon.ico
│   │   └──nodejs.png
│   ├── js
│   │   ├──bootstrap.js
│   │   └──jquery.js
│   ├── pages
│   │   ├──assets.mustache
│   │   ├──customize.mustache
│   │   ├──index.mustache
│   │   ├──sampledata.mustache
│   │   └──testing.mustache
│   ├── main.mustache
│   └── navbar.mustache
├── sampledata/
│   ├── default.json
│   └── sample1.json
└── test/
    ├── index.default.coffee
    └── index.sample1.coffee
