
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Getting started</h1>
    <p>An overview of the Balihoo Web Designer Tookit, install it, use it, test your designs, and more.</p>

  </div>
</div>

