
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Assets</h1>
    <p>An overview of how to properly assemble your project assets: mustache templates, images, css and javascript.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">

    <div class="col-md-9" role="main">
      {{> assets-layout}}
      {{> assets-mustache}}
      {{> assets-static}}
      {{> assets-context}}
      {{> assets-sourcecontrol}}
    </div>

  </div>
</div>

