
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Configuration</h1>
    <p>Configure your project: name, description, pages, and other options.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">

    <div class="col-md-9" role="main">

{{> config-creative }}

{{> config-formbuilder }}

{{> config-noformbuilder }}
	    
    </div>

  </div>

</div>

