
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Configuration</h1>
    <p>Configure your project: name, description, pages, and other options.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">

    <div class="col-md-9" role="main">

<div class="bs-docs-section">
  <h1 id="config-file" class="page-header">Configuration File</h1>

  <p class="lead">Each project needs a configuration file named <code>.balihoo-creative.json</code> file in its top-level directory.</p>

  <h3 id="format">File Format</h3>
  <p>The configuration file must be valid <a href="http://www.json.org/" target="_parent">JSON</a>. The following is a sample configuration file:</p>
  <div class="highlight"><pre><code class="language-js" data-lang="js">{
  "name": "Sample Project",
  "description": "Sample local site project",
  "pages": [
    "index",
    "assets",
    "sampledata",
    "test",
    "config",
    "notfound"
  ],
  "template": "main",
  "port": 8088
}</code></pre></div>

  <p>If <code>balihoo-creative</code> does not find the config file in the current working directory it will create one that resembles the above sample file.

  <h3 id="name-description"><code>name</code> &amp; <code>description</code></h3>
  <p>The values you provide for <code>name</code> and <code>description</code> will be used as the form name and description in the Form Builder. <code>name</code> must be unique across all forms in the Form Builder. Maximum allowed characters for <code>name</code> is 50, <code>description</code> is 200. Any characters beyond these defined maximums will be truncated.</p>

  <h3 id="pages"><code>pages</code></h3>
  <p>This is an array of strings that define all of the available pages in your local site. The page <code>index</code> is a special case. You should always include this page in your list of pages. If no page is specified on the URL the app assumes that the request is for the <code>index</code> page.</p>
  
  <p>Note that <code>"notfound"</code> is another special case; If a page is requested that does not match one of these defined pages then the result will be HTTP 404: Page not found. If the <code>"notfound"</code> page is defined then that page will be rendered on a 404 response. If the <code>"notfound"</code> page is not defined then the system will generate a very basic response that states "Page Not Found". You should <em>always</em> plan to supply your own <code>notfound</code> page in order to keep all generated content on brand.</p>

  <h3 id="template"><code>template</code></h3>
  <p>This attribute tells the system which .mustache template to use as the main entry point. Every request is rendered using the same main entry point. In this case <code>"main"</code> refers to main.mustache. Within your template file you will switch content by rendering different partial template files based on the page that is being rendered. We'll show examples of how to do that shortly.</p>

  <h3 id="port"><code>port</code></h3>
  <p>This indicates the port that your application server will listen on. If you are authoring multiple projects simultaneously then you will need to configure different ports for each of them. Otherwise you'll see the following error message when trying to run the second project:</p>
  <div class="highlight"><pre><code class="language-bash" data-lang="bash" style="color:red;">SERVER  Unable to start server on port 8088</code></pre></div>
</div>

<div class="bs-docs-section">
  <h1 id="source-control" class="page-header">Source Control</h1>

  <p>Your project configuration file <code>.balihoo-creative.json</code> should always be <em>checked into source control</em> alongside your project files. As you add pages and change other options you'll want to track these changes in source control.</p>

</div>

    </div>

  </div>

</div>

