
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Configure</h1>
    <p>Learn how to configure your project's name, description, pages, and other options.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">

    <div class="col-md-9" role="main">
      {{> config-format}}
    </div>

  </div>

</div>

