MyProject/
├── <a href="{{urlParts.basepath}}/config">.balihoo-creative.json</a>
{{> assets-directory}}
├── <a href="{{urlParts.basepath}}/sampledata">sampledata/</a>
│   ├── default.json
│   └── notext.json
└── <a href="{{urlParts.basepath}}/test">test/</a>
    ├── index.default.coffee
    ├── index.coffee
    ├── main.coffee
    └── main.notext.coffee
