MyProject/
├── <a href="../config/">.balihoo-creative.json</a>
├── <a href="../assets/">assets/</a>
│   ├── css
│   │   ├──bootstrap.css
│   │   ├──docs.css
│   │   └──theme.css
│   ├── img
│   │   ├──GitHub_Logo.png
│   │   ├──balihoo.png
│   │   ├──favicon.ico
│   │   └──nodejs.png
│   ├── js
│   │   ├──bootstrap.js
│   │   └──jquery.js
│   ├── index.mustache
│   ├── index
│   │   ├──run.mustache
│   │   ├──install.mustache
│   │   └──develop.mustache
│   ├── main.mustache
│   ├── navbar.mustache
│   └── <a href="../notfound/">notfound.mustache</a>
├── <a href="../sampledata/">sampledata/</a>
│   ├── default.json
│   └── notext.json
└── <a href="../test/">test/</a>
    ├── index.default.coffee
    ├── index.coffee
    ├── main.coffee
    └── main.notext.coffee
