MyProject/
├── <a href="../config/">.balihoo-creative.json</a>
{{> assets-directory}}
├── <a href="../sampledata/">sampledata/</a>
│   ├── default.json
│   └── notext.json
└── <a href="../test/">test/</a>
    ├── index.default.coffee
    ├── index.coffee
    ├── main.coffee
    └── main.notext.coffee
