
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>This is a gratuitous document footer, here for educational purposes only.</p>
    <p>You should always have a footer; they are nice and friendly</p>
    <p>Copyright 2015 - {{name}}, Inc.</p>

    <ul class="bs-docs-footer-links text-muted">
      <li>{{name}} Creative</li>
      {{#links}}
        <li>·</li>
        <li><a href="{{url}}" target="_parent">{{label}}</a></li>
      {{/links}}
    </ul>


  </div>
</footer>

