
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Getting started</h1>
    <p>An overview of the {{name}} Web Designer Tookit, install instructions, how to use it, test your designs, and more.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">
    <div class="col-md-9" role="main">

      {{> index-install}}

      {{> index-run}}

      {{> index-develop}}

    </div> <!--main -->

  </div> <!-- row -->

</div> <!-- container -->

