<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{name}}-Creative, build customizable HTML templates using your own tools and workflow.">

    <title>{{name}} Web Developer Toolkit</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets.css.bootstrap_css}}">

    <!-- Documentation extra CSS -->
    <link rel="stylesheet" href="{{assets.css.docs_css}}">

    <!-- Baliho theme -->
    <link rel="stylesheet" href="{{assets.css.theme_css}}">

    <!-- Favicon -->
    <link rel="icon" href="{{assets.img.favicon_ico}}">

    <script src="{{assets.js.jquery_js}}"></script>
  <head>

  <body>
    <!-- Nav bar -->
    {{> navbar}}

    <!-- Page layout -->
    {{#urlParts}}
      {{#ifpage.index}}      {{> index}}      {{/ifpage.index}}
      {{#ifpage.assets}}     {{> assets}}     {{/ifpage.assets}}
      {{#ifpage.urls}}       {{> urls}}       {{/ifpage.urls}}
      {{#ifpage.sampledata}} {{> sampledata}} {{/ifpage.sampledata}}
      {{#ifpage.test}}       {{> test}}       {{/ifpage.test}}
      {{#ifpage.config}}     {{> config}}     {{/ifpage.config}}
      {{#ifpage.notfound}}   {{> notfound}}   {{/ifpage.notfound}}
    {{/urlParts}}

    <!-- Footer -->
    {{> footer}}

    <!-- Javascript -->
    <script src="{{assets.js.sidenav_js}}"></script>
    <script src="{{assets.js.bootstrap_js}}"></script>
    <script src="{{assets.js.docs_js}}"></script>

    {{{$tests}}}
  </body>

</html>

