
<div class="bs-docs-header" id="content">
  <div class="container">

    <h1>Sample Data</h1>
    <p>Use sample data to preview and test all the variations and combinations of your creative template.</p>

  </div>
</div>

<div class="container bs-docs-container">

  <div class="row">

    <div class="col-md-9" role="main">
      {{> sampledata-files}}
    </div>

  </div>
</div>

