# ##########################
# Top Global Vars
# ##########################

# ##########################
# Please keep this file in
# alphabetical order below this mark
# by the service namespace
# ##########################

##########################
# Formbuilder
##########################
fb.dev.url=https://fb.dev.balihoo-cloud.com
fb.dev.username=username
fb.dev.password=password
fb.stage.url=https://fb.stage.balihoo-cloud.com
fb.stage.username=username
fb.stage.password=password
fb.prod.url=https://fb.balihoo-cloud.com
fb.prod.username=bacula
fb.prod.password=scott
