<div class="bs-docs-section">
  <h1 id="develop" class="page-header">Develop</h1>

  <p class="lead">Use your own tools and development processes.</p>

  <h3 id="your-tools">Your Tools</h3>
  <p>
    You are free to develop your site using whatever editor and development tools you wish. For example, you may choose to use the Sublime text, grunt, and git. Or, you can choose to use vi, Makefiles and subversion. Or notepad and source-safe - your choice. You may use any number of formatters, minifiers, premailers, pre-processors, or whatever you like. The key to getting it all working seemlessly with the {{name}} Platform is ensuring that the configuration and asset files follow the correct naming and directory layout conventions.
  </p>
</div> <!--bs-docs-section -->

