<div class="bs-docs-section">
  <h1 id="install" class="page-header">Install</h1>

  <p class="lead">The balihoo-creative utility is easy to install and run using node and npm. Please be sure that you already have nodejs and the npm installed. If you would like to help develop balihoo-creative then you should also install git on your workstation.</p>

  <div class="row">

    <div class="col-sm-4">
      <h3 id="nodejs">
        {{#textonly}}nodejs{{/textonly}}
        {{^textonly}}<img src="{{assets.img.nodejs}}"/>{{/textonly}}
      </h3>
      <p>The utility is written in coffeescript and runs on the node.js platform.</p>
      <p>
        <a href="https://nodejs.org/download/" target="_parent"
            class="btn btn-lg btn-outline" role="button"> node.js </a>
      </p>
    </div>

    <div class="col-sm-4">
      <h3 id="npm">
        {{#textonly}}npm{{/textonly}}
        {{^textonly}}<img src="{{assets.img.npm-logo}}"/>{{/textonly}}
      </h3>
      <p>We use npm to package and distribute the balihoo-creative utility.</p>
      <p>
        <a href="https://www.npmjs.com/package/balihoo-creative" target="_parent"
            class="btn btn-lg btn-outline" role="button"> package info </a>
      </p>
    </div>

    <div class="col-sm-4">
      <h3 id="git-repo">
        {{#textonly}}github{{/textonly}}
        {{^textonly}}<img src="{{assets.img.GitHub_Logo}}"/>{{/textonly}}
      </h3>
      <p>The source code for this project is hosted on GitHub. This project is open source.</p>
      <p>
        <a href="https://github.com/balihoo/balihoo-creative" target="_parent"
            class="btn btn-lg btn-outline" role="button"> source repo </a>
      </p>
    </div>
  </div>

  <h3 id="npm-install">Install with npm</h3>
  <p>You'll want to install this package globally so you can run it from anywhere in your shell.</p>
  <div class="highlight">
    <pre>
      <code class="language-bash" data-lang="bash">npm -g install balihoo-creative</code></pre>
  </div>

</div> <!--bs-docs-section -->

