
a.navbar-brand.withimg {
  padding: 5px 15px 5px 0px;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  color: #59595b;
}

.bs-docs-header {
  background-color: #f8971d;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d07b0f),to(#f8971d));
  background-image: -o-linear-gradient(top,#d07b0f 0,#f8971d 100%);
  color: #f0dec8;
}

.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #59595b;
}

.btn-outline {
  color: #59595b;
  border-color: #59595b;
}

.btn-outline:hover {
  color: #f8971d;
  border-color: #e8870d;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  background-color: #59595b;
}

.bs-docs-nav .navbar-nav>li>a:hover,
.bs-docs-nav .navbar-nav>.active>a,
.bs-docs-nav .navbar-nav>.active>a:hover {
  color: #ab6612;
  background-color: #dfdfdf;
}

