body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  font-family: "Arial Black";
}
.toolbar-wrapper {
  margin: 0;
  padding: 0;
  height: 75px;
  width: 100%;
}
.toolbar {
  height: 100%;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}
.toolbar div {
  width: 20%;
  float: left;
}
.passed {
  margin-left: 10px;
  color: #0a0;
}
.failed {
  margin-left: 10px;
  color: #f00;
}
label {
  display: block;
  padding-bottom: 0px;
}
td {
  margin: 0px;
  padding: 4px;
  background-color: #eee;
  text-align: center;
}
iframe {
  border: 0px;
  border-top-style: ridge;
  border-top-width: 3px;
  width: 100%;
  height: calc(100% - 75px);
}
#qunit-header, #qunit-testrunner-toolbar {
  display: none;
}

