body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  font-family: "Arial Black";
}
.toolbar-wrapper {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
}
.toolbar {
  height: 100%;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}
.pane {
  box-sizing: border-box;
  padding: 0 5px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 15%;
  max-width: 15%;
  height: 100%;
  float: left;
  background: #eee;
}
.preview-uri.pane {
  width: 40%;
  max-width: 40%;
}
input {
  max-width: 85%;
}
.publish {
  margin-top: 10px;
}
.passed {
  margin-left: 10px;
  color: #0a0;
}
.failed {
  margin-left: 10px;
  color: #f00;
}
label {
  display: block;
  padding-bottom: 0px;
  font-size: 0.75em;
}
iframe {
  border: 0px;
  border-top-style: ridge;
  border-top-width: 3px;
  width: 100%;
  height: calc(100% - 75px);
}
#qunit-header, #qunit-testrunner-toolbar {
  display: none;
}

.message-dialog .ui-dialog-titlebar-close {
  display: none;
}

ul#messages {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
  font-family: monospace;
}

@media (max-width: 800px) {
  .toolbar-wrapper {
    height: 35px;
  }
  label {
    font-size: 10px;
    line-height: 1em;
    margin-top: 1px;
  }
  input {
    max-width: 75%;
    line-height: 1em;
  }
  .publish {
    margin-top: 2px;
    font-size: 10px;
  }
}

